doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zooom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 it works!
        main
            ul 
            form#nick
                input(type="text", placeholder="닉네임을 선택하세요", required)
                button 저장
            form#message
                input(type="text", placeholder="메시지 내용", required)
                button 보내기
        script(src="/public/js/app.js")